/* Estilos para la sección de proyectos */
.projects {
    text-align: center;
    padding: 20px;
}

.projects h2 {
    font-size: 24px;
}

/* Estilos para los hexágonos */
.hexagon {
    width: 100px;
    height: 115px;
    position: relative;
    background-color: #007BFF; /* Cambia el color de fondo a tu gusto */
    margin: 0 10px;
    margin-bottom: 20px;
    display: inline-block;
    transform: rotate(120deg);
}

.hexagon:before,
.hexagon:after {
    content: "";
    position: absolute;
    width: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
}

.hexagon:before {
    top: -28px;
    border-bottom: 28px solid #007BFF; /* Misma propiedad que el fondo */
}

.hexagon:after {
    bottom: -28px;
    border-top: 28px solid #007BFF; /* Misma propiedad que el fondo */
}